<figure class="reply-attachment">
  <%= link_to message&.room ? room_at_message_path(message.room, message) : "#", class: "reply-attachment__link" do %>
    <figcaption class="reply-attachment__caption">
      <strong><%= message&.creator&.name || "Unknown" %></strong>
      <% if message&.attachment? %>
        <span><%= message.attachment.filename %></span>
      <% end %>
    </figcaption>
  <% end %>
</figure>
