<span class="custom-emoji" data-shortcode="<%= custom_emoji.shortcode %>" title=":<%= custom_emoji.shortcode %>:"><%= image_tag url_for(custom_emoji.image), alt: ":#{custom_emoji.shortcode}:", class: "custom-emoji__image" %></span>
